<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Загрузка фотографии</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Загрузите вашу фотографию</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Загрузить</button>
        </form>
        
        <h2 class="mt-5">Загруженные фотографии:</h2>
        <div class="row">
            {% for image in images %}
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='img/' + image) }}" class="img-fluid" alt="Uploaded Image">
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>